<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prolearn"
        tools:targetApi="31">
        <activity
            android:name=".Profile"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Prolearn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicByAI"
            android:exported="false"
            android:label="@string/title_activity_topic_by_ai"
            android:theme="@style/Theme.Prolearn">

        </activity>
        <activity
            android:name=".Quiz"
            android:exported="false"
            android:label="@string/title_activity_quiz"
            android:theme="@style/Theme.Prolearn"></activity>
        <activity
            android:name=".QuizResult"
            android:exported="false"
            android:label="@string/title_activity_quiz_result"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".PurchaseSuccess"
            android:exported="false"
            android:label="@string/title_activity_purchase_success"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Receipt"
            android:exported="false"
            android:label="@string/title_activity_receipt"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".ReviewSummary"
            android:exported="false"
            android:label="@string/title_activity_review_summary"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".DetailTab"
            android:exported="false"
            android:label="@string/title_activity_detail_tab"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Reviews"
            android:exported="false"
            android:label="@string/title_activity_reviews"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Lessons"
            android:exported="false"
            android:label="@string/title_activity_lessons"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".About"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".CourseDetail"
            android:exported="false"
            android:label="@string/title_activity_course_detail"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".OngoingCourse"
            android:exported="false"
            android:label="@string/title_activity_ongoing_course"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".CompletedCourse"
            android:exported="true"
            android:label="@string/title_activity_completed_course"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".MyCourses"
            android:exported="false"
            android:label="@string/title_activity_my_courses"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Search"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".SpecialOffers"
            android:exported="false"
            android:label="@string/title_activity_special_offers"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Recommended"
            android:exported="false"
            android:label="@string/title_activity_recommended"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".BestSellers"
            android:exported="false"
            android:label="@string/title_activity_best_sellers"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".VerifyCode"
            android:exported="false"
            android:label="@string/title_activity_verify_code"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".ProfileUpdate"
            android:exported="false"
            android:label="@string/title_activity_profile_update"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".NewPassword"
            android:exported="false"
            android:label="@string/title_activity_new_password"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Prolearn" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Prolearn.Splash" />
    </application>

</manifest>